#!/usr/bin/env python
# -*- coding: utf-8 -*- #
from __future__ import unicode_literals

AUTHOR = u''
SITENAME = u''
SITEURL = ''
PAGE_PATHS = ['content/pages']
#WITH_FUTURE_DATES = False
RELATIVE_URLS = False
TIMEZONE = 'Europe/Paris'
DEFAULT_LANG = u'en'
TYPOGRIFY = False
THEME = 'theme/'
STATIC_PATHS = ['images']
HEADER_IMAGE = ""

FEED_RSS = 'rss.xml'
CATEGORY_FEED_RSS = '%s/rss.xml'
CATEGORY_FEED_ATOM = None

ARTICLE_URL = '{category}/{slug}'
ARTICLE_SAVE_AS = '{category}/{slug}.htm'

GOOGLE_ANALYTICS = ''

PLUGINS=['plugins.sitemap', 'plugins.gzip_cache']
MD_EXTENSIONS = ['extra']

SITEMAP = {
    'format': 'xml',
    'priorities': {
        'articles': 0.5,
        'indexes': 0.5,
        'pages': 0.5
    },
    'changefreqs': {
        'articles': 'monthly',
        'indexes': 'daily',
        'pages': 'monthly'
    }
}

DEFAULT_PAGINATION = 5

# Theme settings
LOGO_URL = ''
MENUITEMS = ()
TWITTER_LINK = ''
LINKEDIN_LINK = ''
GITHUB_LINK = ''
DISQUS_VALUE = ''
DEFAULT_KEYWORDS = ''
GOOGLE_SITE_VERIFICATION = ''

